<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tiagoaguiar.welcomepager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VisiteUmMedico"></activity>
        <activity android:name=".Ongs" />
        <activity android:name=".Sinais" />
        <activity android:name=".SinaisQuatro" />
        <activity android:name=".SinaisTres" />
        <activity android:name=".SinaisDois" />
        <activity android:name=".SinaisUm" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".Cadastro" />
        <activity android:name=".Entrar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>